img {
    height: auto;
    width: 700px
}

body {
    font-family: Verdana, Helvetica, sans-serif;
}

h1, h2 {
    background-color: bisque;
}

.recipe-list {
    font-weight: bold;
    font-size: larger;
}